// Main SCSS file - imports all partials

// Abstracts
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/functions";
@import "abstracts/utilities";
// Base
@import "base/reset";
@import "base/typography";
@import "base/base";

// Components
@import "components/buttons";
@import "components/cards";
@import "components/forms";
@import "components/line";

// Layout
@import "layout/header";
@import "layout/footer";
@import "layout/navigation";
@import "layout/grid";
@import "layout/collection";
@import "layout/why-us";
@import "layout/steps"; // Pages
@import "pages/home";
@import "pages/about";
@import "pages/plan";

// Themes
@import "themes/default";

// Vendors
@import "vendors/normalize";
