.footer {
  background-color: $neutral-900;
  padding: $spacing-500 $spacing-250;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $spacing-400;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }
  &__logo {
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    svg {
      display: block;

      &:nth-child(1) {
        width: 1.01269rem;
        height: 1.01269rem;
      }

      &:nth-child(2) {
        width: 8.56544rem;
        height: 1.01263rem;
      }
    }
  }

  &__links {
    color: $neutral-500;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    gap: $spacing-250;

    &-item {
      transition: all 0.2s ease;

      &:hover {
        color: white;
      }
    }
  }

  &__socials {
    display: flex;
    justify-content: row;
    gap: $spacing-250;

    &-item {
      cursor: pointer;
      transition: all 0.2s ease;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
