.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $spacing-400;
  &__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 163px;
    z-index: 20;
    display: block;

    @include tablet {
      width: 236px;
    }
  }
  &__list {
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: $spacing-400;
    color: $neutral-500;
    text-transform: uppercase;

    @include tablet {
      display: flex;
    }
  }

  &__item {
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
      color: $teal-600;
      scale: 1.05;
    }
  }
}
// mobile nav when open
.mobile-menu {
  @include tablet {
    display: none;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: $spacing-1000;
    gap: $spacing-200;
    position: fixed;
    top: -300px;
    opacity: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(254, 252, 247) 30%, rgba(254, 252, 247, 0));
    z-index: 10;
    transition: top 0.65s cubic-bezier(0.16, 1, 0.3, 1), opacity 0.75s ease-out;
    pointer-events: none;

    &.open-nav {
      opacity: 1;
      top: 0;
      pointer-events: all;
    }
  }

  &__item {
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      color: $teal-600;
      scale: 1.05;
    }
  }
}

// burger and mobile Menu
.mobile-menu {
  &__buttons {
    transition: all 0.2s;
    position: relative;
    width: 1.5rem; // slightly bigger than the icon
    height: 1.5rem; // THIS IS THE IMPORTANT PART
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 20;
    background: none;
    border: none;
    padding: 0;

    &:hover {
      opacity: 0.7;
      scale: 1.05;

      &:active {
        scale: 0.95;
        opacity: 1;
      }
    }
  }

  &__icon {
    width: 1rem;
    height: 0.9375rem;
    cursor: pointer;
    position: absolute;

    // default: hidden
    opacity: 0;
    visibility: hidden;

    // shared active states
    &.is-active {
      opacity: 1;
      visibility: visible;
    }
  }
}

// content
.header {
  &__hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 32rem;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 0.375rem;
    overflow: hidden;

    @include tablet {
      width: 100%;
      height: auto;
      justify-content: flex-start;
      padding-left: $spacing-600;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: $spacing-200;
    gap: $spacing-500;

    @include tablet {
      align-items: flex-start;
      text-align: left;
      max-width: 30rem;
    }

    @include desktop {
      max-width: 32rem;
    }
  }

  &__title {
    color: white;
    @include tablet {
      font-size: 3rem;
    }

    @include desktop {
      font-size: 4.5rem;
    }
  }

  &__sub {
    color: $neutral-50;
    opacity: 0.8;
  }

  &__link {
    display: inline-block;
    color: white;
    padding: 1rem 2rem;
    background-color: $teal-600;
    border-radius: 0.375rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $teal-300;
    }
  }
}

.header__hero {
  background-image: url("../starter-code/assets/home/mobile/image-hero-coffeepress.jpg");
  @include tablet {
    background-image: url("../../starter-code/assets/home/desktop/image-hero-coffeepress.jpg");
  }
}

.header__hero.about {
  background-image: url("../../starter-code/assets/about/mobile/image-hero-whitecup.jpg");
  @include tablet {
    background-image: url("../../starter-code/assets/about/desktop/image-hero-whitecup.jpg");
  }
}

// Plan page
.header__hero--plan {
  background-image: url("../starter-code/assets/plan/mobile/image-hero-plan.jpg");
}

.header__hero.male-coffee {
  background-image: url("../starter-code/assets/about/mobile/image-commitment.jpg");

  @include tablet {
    background-image: url("../../starter-code/assets/about/desktop/image-commitment.jpg");
    min-width: 17.5rem;
    width: 40%;
    height: 32.5rem;
    flex-shrink: 0;
  }

  @include desktop {
    width: 27.8125rem;
    height: 32.5rem;
    flex-shrink: 0;
  }
}
