.steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $spacing-500;
  margin-bottom: $spacing-1200;
  padding-inline: $spacing-1200;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // gap: $spacing-400;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $spacing-500;

    @include tablet {
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $spacing-300;

    @include tablet {
      align-items: flex-start;
      justify-content: flex-start;
      flex: 1;
    }
  }

  &__label {
    color: $neutral-500;
    text-align: center;
    margin-bottom: 2rem;

    @include tablet {
      text-align: left;
      align-self: flex-start;
      margin-bottom: 3rem;
    }
  }

  &__line {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
    position: relative;
    z-index: 1;
    min-width: clamp(70%, 70vw, 73%);

    @include tablet {
      opacity: 1;
      margin-bottom: 5rem;
      margin-top: 2rem;
    }
  }

  &__sline {
    width: 100%;
    background-color: #fdd6ba;
    height: 3px;
  }

  &__circle {
    position: absolute;
    width: 100%;
    justify-content: space-between;
    display: flex;
    z-index: 10;

    & svg {
      display: block;
    }
  }

  &__number {
    color: $orange-200;
    text-align: center;

    @include tablet {
      text-align: left;
      line-height: 1;
      margin-bottom: $spacing-300;
    }
  }

  &__title {
    color: $neutral-900;
    text-align: center;

    @include tablet {
      text-align: left;
      min-height: 5rem;
    }
  }

  &__text {
    color: $neutral-900;
    opacity: 0.9;
    text-align: center;

    @include tablet {
      text-align: left;
    }
  }
}
