// Button styles
.plan-btn {
  background-color: $teal-600;
  color: white;
  padding: $spacing-200 $spacing-400;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: block;
  text-align: center;

  @include tablet {
    align-self: flex-start;
    margin-top: 3rem;
  }

  &:hover {
    background-color: $teal-300;
  }

  &:active {
    background-color: $teal-600;
  }
}
