.popout {
  background-color: #343c4cb0;
  position: fixed;
  border: 2px solid black;
  inset: 0;
  padding-inline: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;

  &--active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 34rem;

  width: 100%;

  background-color: white;
  border-radius: 0.7rem;
  overflow: hidden;

  &__header {
    background-color: $neutral-900;
    color: white;
    padding: $spacing-300 $spacing-200;

    & h1 {
      font-size: 1.75rem;

      @include tablet {
        font-size: 2.5rem;
      }
    }

    @include tablet {
      padding: $spacing-600;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: $spacing-300;
    padding: $spacing-200;

    @include tablet {
      padding: $spacing-600;
    }

    &__order {
      line-height: 150%;

      & span {
        color: $teal-600;
      }
    }

    &__sub {
      font-family: Barlow;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
    }

    &__text {
      color: $neutral-500;

      display: flex;
      flex-direction: column;
      gap: $spacing-250;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: $spacing-200;
    gap: $spacing-200;
    width: 100%;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__price {
      color: $neutral-900;
    }

    &__btn {
      margin: 0;
      font-family: Fraunces;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 900;
      line-height: 140%;
      text-align: left;
    }
  }
}
