// Variables
// ===============================
// Neutral Colors
// ===============================
$neutral-900: #343c4c;
$neutral-500: #848990;
$neutral-200: #e1ddda;
$neutral-100: #f4f1eb;
$neutral-50: #fefcf6;
$neutral-0: #ffffff;

// ===============================
// Teal Colors
// ===============================
$teal-600: #0e8684;
$teal-300: #66d2cf;

// ===============================
// Orange Colors
// ===============================
$orange-200: #fdd6ba;

// ===============================
// Font Families
// ===============================
$font-heading: "Fraunces", serif;
$font-body: "Barlow", sans-serif;
// Font families
$font-heading: "Fraunces", serif;
$font-body: "Barlow", sans-serif;

// Font sizes
$font-72: 72px; // 4.5rem
$font-48: 48px; // 3rem
$font-40: 40px; // 2.5rem
$font-32: 32px; // 2rem
$font-24: 24px; // 1.5rem
$font-18: 18px; // 1.125rem
$font-16: 16px; // 1rem
$font-12: 12px; // 0.75rem

// lines height
$line-100: 100%;
$line-114: 114%;
$line-120: 120%;
$line-130: 130%;
$line-140: 140%;
$line-150: 150%;
$line-160: 160%;

// letter Spacing
$tracking-0: 0px;
$tracking-092: 0.92px;

$spacing-0: 0; // 0rem
$spacing-025: 2px; // 0.125rem
$spacing-050: 4px; // 0.25rem
$spacing-075: 6px; // 0.375rem
$spacing-100: 8px; // 0.5rem
$spacing-125: 10px; // 0.625rem
$spacing-150: 12px; // 0.75rem
$spacing-200: 16px; // 1rem
$spacing-250: 20px; // 1.25rem
$spacing-300: 24px; // 1.5rem
$spacing-400: 32px; // 2rem
$spacing-500: 40px; // 2.5rem
$spacing-600: 48px; // 3rem
$spacing-800: 64px; // 4rem
$spacing-1000: 80px; // 5rem
$spacing-1200: 96px; // 6rem
$spacing-1400: 112px; // 7rem
$spacing-1600: 128px; // 8rem
$spacing-1800: 140px; // 8.75rem
